
body{
    background-color: white;
    line-height: 1;
   
}
.myimgage img{
    width: 40%;
   height: 300px;
   margin-left: 800px;
   margin-top: -250px;
}
.btn-grad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 5px;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
.myimgage2 img{
    width: 40%;
    height: 400px;
    margin-top: -400px;
}
.content{
    margin-left: 400px;
    margin-top: 100px;

}
.btn-grad1{
background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
margin: 10px;
padding: 10px 10px;
text-align: center;
}
.progress .progress-bar-html{
    width: 95%;
    background-image:linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%); 
}
.progress .progress-bar-css{
    width: 85%;
    background-image:linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%); 
}
.progress .progress-bar-mysql{
    width: 90%;
    background-image:linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
}
.progress .progress-bar-python{
    width: 80%;
    background-image:linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
}
.row-Portfolio-container{
   display: inline;
   display: flex;
   width: 40%;
      
}
.column img{
    padding: 10px;
    height: 200px;
}
.control-group .btn-grad {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 1px;
    display: block;
  }

